{% extends "AppCoder/padre.html" %}

{% load static %}

{% block tituloPagina %}
Buscar restaurante
{% endblock %}

{% block contenidoQueCambia %}
    <p> Buscar restaurante: 
        <form action=""  method="post">
            {% csrf_token %}

            <input type="text" name="nombre" id="">
            <input type="Submit" value="Buscar">
        </form>
    </p>>
    <p>Resultado:</p>
        <ul>
            {% for restaurante in restaurantes %}
                <li>{{restaurantes.nombre}}</li>
            {% endfor %}
        </ul>
{% endblock %}