{% extends "AppCoder/padre.html" %}

{% load static %}

{% block tituloPagina %}
Buscar peluqueria
{% endblock %}

{% block contenidoQueCambia %}
    <p> <h4>Buscar peluquería:</h4> 
        <br>
        <form action=""  method="post">
            {% csrf_token %}

            <input type="text" name="nombre" id="">
            <input type="Submit" value="Buscar">
        </form>
    </p>>
    <br>
    <p><h5>Resultado:</h5></p>
        <ul>
            {% for peluqueria in peluquerias %}
                <li>{{peluqueria.nombre}}</li>
            {% endfor %}
        </ul>
{% endblock %}