{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    <body>
     <h1>
        LISTADO DE DOCTORES QUE OFRECEN SERVICIOS EN INGLES:
        <a href="{% url 'nuevodoctor' %}">Agregar doctor</a>
        
     </h1>
     <table>
        <thead>
            <td>Nombre:</td>
            <td>Telefono:</td>
            <td>Especialidad:</td>
        </thead>
        {% for doctor in doctores %}
        <tr>
            <td>{{ doctor.nombre }}</td>
            <td>{{ doctor.telefono }}</td>
            <td>{{ doctor.especialidad }}</td>
        </tr>
        {% endfor %}
     </table>


    </body>


{% endblock %}