{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    <body>
        <style>
            h3{color: rgb(19, 12, 147);}
        </style>
     <h3>
        <br>
        DOCTORES QUE OFRECEN SERVICIOS EN INGLES:
        <br>
        <br>
        
     </h3>
     <table class="table">
        <thead>
          <tr>            
            <th scope="col">Nombre</th>
            <th scope="col">Telefono</th>
            <th scope="col">Especialidad</th>
          </tr>
        </thead>
       
        {% for doctor in doctores %}
        <tr>
            <td>{{ doctor.nombre }}</td>
            <td>{{ doctor.telefono }}</td>
            <td>{{ doctor.especialidad }}</td>
        </tr>
        {% endfor %}
     </table>
     <a href="{% url 'nuevodoctor' %}">Agregar doctor + </a>

    </body>


{% endblock %}