{% extends "AppCoder/padre.html" %}

{% load static%}

{% block contenidoQueCambia %}

    <body>
      <style>
        h3{color: rgb(19, 12, 147);}
    </style>
     <h3>
      <br>
        PELUQUERIAS EN LAS QUE OFRECEN SERVICIOS EN INGLES

        <h4><a href="{% url 'busqueda_peluqueria' %}">Buscar por nombre</a></h4>
       <br>
       <br> 
        
     </h3>
     <table class="table">
        <thead>
          <tr>            
            <th scope="col">Nombre</th>
            <th scope="col">Telefono</th>
            <th scope="col">Barrio</th>
          </tr>
        </thead>
       {% for peluqueria in peluquerias %}
       <tr>
           <td>{{ peluqueria.nombre }}</td>
           <td>{{ peluqueria.telefono }}</td>
           <td>{{ peluqueria.barrio }}</td>
       </tr>
       {% endfor %}
     </table>
     <a href="{% url 'nuevapeluqueria' %}">Agregar peluqueria + </a>
     </h1>
     <br>
     


    </body>


{% endblock %}