{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    <body>
        <style>
            h3{color: rgb(19, 12, 147);}
        </style>
     <h3>
        <br>
        RESTAURANTES QUE OFRECEN SERVICIOS EN INGLES
       <br>
        <br>     
     </h3>
     <table class="table">
        <thead>
          <tr>            
            <th scope="col">Nombre</th>
            <th scope="col">Telefono</th>
            <th scope="col">Tipo de Comida</th>
          </tr>
        </thead>
       {% for restaurante in restaurantes %}
       <tr>
           <td>{{ restaurante.nombre }}</td>
           <td>{{ restaurante.telefono }}</td>
           <td>{{ restaurante.tipoDeComida }}</td>
       </tr>
       {% endfor %}
     </table>
     <a href="{% url 'nuevorestaurante' %}">Agregar restaurante + </a>
     </h1>


    </body>


{% endblock %}